body {
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
  max-width: 100%;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

body {
  font-family: "Roboto", sans-serif;
  color: #757575;
  letter-spacing: 0.03em;
  margin-top: 81px;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.hiden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.title {
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 50px;
  color: #212121;
}

.page-header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 5;
  background-color: #fff;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  border-bottom: 1px solid #ececec;
}

.page-header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.page-header__item:not(:last-child) {
  margin-right: 50px;
}

.page-header__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  letter-spacing: 0.02em;
  color: #757575;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.page-header__link:hover, .page-header__link:focus {
  fill: #2196f3;
  color: #2196f3;
}

.page-header__icon {
  margin-right: 10px;
  width: 16px;
  height: 16px;
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navigation__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navigation__item:not(:last-child) {
  margin-right: 50px;
}

.navigation__link {
  display: inline-block;
  padding-top: 32px;
  padding-bottom: 32px;
  letter-spacing: 0.02em;
  color: #212121;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation__link:hover, .navigation__link:focus {
  color: #2196f3;
}

.navigation__link--current {
  position: relative;
  color: #2196f3;
}

.navigation__link--current::after {
  position: absolute;
  bottom: -1px;
  content: "";
  display: block;
  height: 4px;
  width: 100%;
  border-radius: 2px;
  background-color: #2196f3;
}

.page-header__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
}

.logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: #2196f3;
  margin-right: 93px;
}

.logo__label {
  color: #000000;
}

.logo__label--footer {
  color: #ffffff;
}

.hero {
  max-width: 1600px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(128, 131, 165, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/bgc.jpg");
  background: linear-gradient(rgba(128, 131, 165, 0.4), rgba(47, 48, 58, 0.4)), url("../images/bgc.jpg");
  margin: 0 auto;
  text-align: center;
  letter-spacing: 0.06em;
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero__title {
  max-width: 630px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-transform: uppercase;
  color: #ffffff;
}

.hero__btn {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: inherit;
  color: #ffffff;
  cursor: pointer;
  background-color: #2196f3;
  border: none;
  border-radius: 4px;
  padding: 10px 32px;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero__btn:hover, .hero__btn:focus {
  background-color: #188ce8;
}

.features {
  padding-bottom: 0;
}

.features__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.features__item {
  max-width: calc((100% - 90px) / 4);
}

.features__item:not(:last-child) {
  margin-right: 30px;
}

.features__thumb {
  width: 100%;
  height: 120px;
  padding: 25px 0;
  background-color: #f5f4fa;
  border-radius: 4px;
}

.features__icon {
  display: block;
  margin: 0 auto;
  width: 70px;
  height: 70px;
}

.features__name {
  margin-bottom: 10px;
  line-height: 1.14;
  text-transform: uppercase;
  font-size: 14px;
  color: #212121;
}

.features__text {
  font-size: 14px;
  line-height: 1.71;
}

.tasks__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.tasks__item {
  position: relative;
  max-width: calc((100% - 60px) / 3);
}

.tasks__item:not(:last-child) {
  margin-right: 30px;
}

.tasks__subtext {
  position: absolute;
  bottom: 0;
  height: 70px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(47, 48, 58, 0.8);
}

.tasks__text {
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  text-transform: uppercase;
  color: #ffffff;
}

.team {
  text-align: center;
  background-color: #f5f4fa;
}

.team__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.team__card {
  max-width: calc((100% - 90px) / 4);
  padding-bottom: 30px;
  background-color: #fff;
  border-radius: 0px 0px 4px 4px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team__card:not(:last-child) {
  margin-right: 30px;
}

.team__name {
  font-weight: 500;
  font-size: 16px;
  margin-top: 30px;
  margin-bottom: 10px;
}

.team__position {
  font-size: 16px;
  line-height: 1.19;
}

.social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 16px;
}

.social-list__item:not(:last-child) {
  margin-right: 10px;
}

.social-list__item:hover .social-list__link, .social-list__item:hover .social-list__link--team, .social-list__item:hover .social-list__link--footer,
.social-list__item:focus .social-list__link,
.social-list__item:focus .social-list__link--team,
.social-list__item:focus .social-list__link--footer {
  -webkit-transform: rotateY(1turn);
          transform: rotateY(1turn);
}

.social-list__link:hover, .social-list__link--team:hover, .social-list__link--footer:hover, .social-list__link:focus, .social-list__link--team:focus, .social-list__link--footer:focus {
  background-color: #2196f3;
  fill: #fff;
}

.social-list__icon {
  display: block;
  width: 20px;
  height: 20px;
}

.social-list__link, .social-list__link--team, .social-list__link--footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 50%;
  height: 44px;
  width: 44px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 500ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list__link--team {
  fill: #afb1b8;
}

.social-list__link--footer {
  fill: #ffffff;
  background-color: rgba(255, 255, 255, 0.1);
}

.clients__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.clients__item {
  width: calc((100% - 150px) / 6);
}

.clients__item:not(:last-child) {
  margin-right: 30px;
}

.clients__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  fill: #afb1b8;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__link:hover, .clients__link:focus {
  fill: #2196f3;
  border-color: #2196f3;
}

.clients__icon {
  width: 106px;
}

.page-footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.page-footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.page-footer__title {
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

.page-footer__left {
  margin-right: 70px;
}

.page-footer__center {
  padding-top: 12px;
}

.page-footer__right {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding-top: 12px;
  margin-left: 93px;
}

.page-footer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.page-footer__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  position: relative;
  -ms-flex-preferred-size: auto;
      flex-basis: auto;
}

.page-footer__label:focus-within .page-footer__label-text {
  -webkit-transform: translateX(-79px);
          transform: translateX(-79px);
}

.page-footer__label-text {
  position: absolute;
  top: 15px;
  left: 16px;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}

.page-footer__input {
  display: block;
  padding: 15px 16px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background-color: transparent;
  font-size: 16px;
  line-height: 1.25;
  color: #fff;
}

.page-footer__input:not(:placeholder-shown) + .footer-label-text {
  -webkit-transform: translateX(-79px);
          transform: translateX(-79px);
}

.page-footer__btn {
  padding: 10px 29px;
  margin-left: 12px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  line-height: 1.87;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: #2196f3;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.page-footer__btn:hover, .page-footer__btn:focus {
  background-color: #188ce8;
}

.page-footer__icon {
  width: 24px;
  height: 24px;
  margin-left: 10px;
  fill: #ffffff;
}

.address {
  margin-top: 20px;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  color: #ffffff;
}

.address__item:not(:last-child) {
  margin-bottom: 9px;
}

.address__link {
  font-style: normal;
  color: rgba(255, 255, 255, 0.6);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 10;
  opacity: 1;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: rgba(0, 0, 0, 0.2);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 528px;
  height: 581px;
  padding: 40px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.backdrop.is-hiden .modal {
  -webkit-transform: translate(-50%, -50%) scale(1.2);
          transform: translate(-50%, -50%) scale(1.2);
}

.modal__btn {
  position: absolute;
  top: 8px;
  right: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__btn:hover, .modal__btn:focus {
  border: 1px solid #2196f3;
  color: #2196f3;
}

.modal__icon {
  height: 18px;
  width: 18px;
  fill: currentColor;
}

.modal__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: #212121;
  margin-bottom: 30px;
}

.modal__label {
  position: relative;
  display: block;
  margin-bottom: 28px;
}

.modal__input {
  padding: 11px 35px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  width: 100%;
}

.modal__input:focus {
  outline: none;
  border-color: #2196f3;
}

.modal__label-name {
  position: absolute;
  /* left: 35px; */
  top: 50%;
  left: 0;
  -webkit-transform: translate(35px, -50%);
          transform: translate(35px, -50%);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #757575;
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__label:focus-within .modal__label-name,
.modal__input:not(:placeholder-shown) + .modal__label-name {
  -webkit-transform: translate(0, -37px);
          transform: translate(0, -37px);
}

.modal__label-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 16px;
  height: 16px;
}

.modal__label:focus-within .modal__label-icon {
  fill: #2196f3;
}

.modal__textarea {
  resize: none;
  padding: 12px 16px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #757575;
}

.modal__textarea::-webkit-input-placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal__textarea:-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal__textarea::-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal__textarea::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal__textarea-name {
  position: absolute;
  left: 0;
  top: -4px;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #757575;
}

.modal__policy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
}

.modal__check {
  display: block;
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
  margin-right: 8px;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__checkbox:checked + .modal__check {
  background-color: #2196f3;
  border-color: #2196f3;
}

.modal__policy-text {
  text-align: center;
  font-size: 14px;
  line-height: 1.71;
  color: #757575;
}

.modal__link:hover, .modal__link:focus {
  color: #2196f3;
}

.modal__submit-btn {
  display: block;
  padding: 10px 55px;
  margin: 0 auto;
  background-color: #2196f3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: #ffffff;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__submit-btn:hover, .modal__submit-btn:focus {
  background-color: #188ce8;
}
/*# sourceMappingURL=main.css.map */